<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <style></style>
  </head>
  <body>
    <a href="/logout" id="logout-button">Logout</a>
    <ul id="messages"></ul>
    <form id="form" action=""><input id="input" autocomplete="off" /><button>Send</button></form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/script.js"></script>
  </body>
</html>
